.button{

  height: 50px;
  border: 8px;
  font-weight: 500;
  border-radius: 15px;
  background-color: #835afd;
  padding: 0 32px;
  color: #f8f8f8;
  cursor: pointer;
  border: 0;
  transition: filter 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    margin-right: 8px;  
  }
  &.outlined{
    background-color: #fff;
    border: 1px solid #835afd;
    color: #835afd;
  }
  &.muted-btn{
    background-color: #DBDCDD;
    color:#737380;
    border: none;
  }
  &.danger-btn{
    background-color: #E73F5D;
    color:#FEFEFE;
    border: none;
  }
  &:not(:disabled):hover{
    filter: brightness(0.9);
  }
  &:disabled{
    opacity: 0.6;
    cursor: not-allowed;
  }
}